* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

#movie-backdrop {
  width: 100%;
}

.container1 {
  padding-top: 32px;
  align-items: center;
}

#actors {
  margin: 24px 16px 0 0;
}

.img-movie {
  object-fit: cover;
  height: 320px;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0 8px 8px -4px rgb(7, 110, 144);
  margin-bottom: 10px;
}

.img-movie:hover {
  transform: scale(1.05);
}

.movie-card__title {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
#footer {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

.con-genre {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 12px;
  list-style: none;
}

.footer-genres {
  font-size: 25px;
  margin-left: 30px;
}

.con-genre li {
  cursor: pointer;
}

.genre-text {
  font-size: 20px;
}

.footer-header {
  font-size: 50px;
}

.social-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  font-size: 20px;
}

.con-pages {
  display: flex;
  font-size: 25px;
  gap: 10px;
}

.actors-con {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cast-con {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.actor-profile__img {
  object-fit: cover;
  width: 120px;
  height: 140px;
}

.single-actor-con {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.single-actor-img {
  object-fit: cover;
  width: 300px;
  height: 600px;
}

.actor_name {
  font-size: 55px;
}

.logo {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.logo-con {
  display: flex;
  color: black;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  height: fit-content;
}

.logo-con:hover {
  color: rgba(0, 0, 0, 0.833);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* button style */
.dropbtn {
  /* background-color:rgb(144, 206, 86); */
  border: none;
  height: 10px;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 250px;
}

/* Change color of dropdown links on hover */
.dropdown .dropdown-content a:hover {
  background-color: rgb(151, 169, 218);
  color: rgb(163, 19, 19);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
